.messages{data:{message: {id:"#{message.id}"}}}
  .messages__box
    .messages__box__user
      = message.user.name
      .messages__box__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
        .messages__box__text
          - if message.content.present?
            .messages__text
            = message.content
  = image_tag message.image.url, class: 'message__image' if message.image.present?